:root {
--color-prymary:#2E2F42;
--color-secondary: #f4f4fd;
--color-von:#4D5AE5;
--color-stile:#404BBF;
--color-set:#434455;
--color-non:#FFFFFF;
--color-imag:#E7E9FC;
}

body {
    color: var(--color-prymary);
    font-family: 'Roboto', sans-serif;
    font-size:0,02em;
}

.nav-link {
    color: var(--color-prymary);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0,03em;

}
.logo-web {
    color: var(--color-von);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0,03em;
}

/*link*/

.anav-priority {
    color: var(--color-prymary);
    letter-spacing: 0,02em;
}

.anav-priority:hover,
.anav-priority:focus {
    color: var(--color-stile);
    letter-spacing: 0,02em;
}

.nav-mailto {
    color: var(--color-set);
    letter-spacing: 0,02em;
}
    
.nav-mailto:hover,
.nav-mailto:focus {
    color: var(--color-stile);
    letter-spacing: 0,02em;
}

.nav-tel {
    color: var(--color-set);
    letter-spacing: 0,02em;
}

/*efective-section*/

.effective-section {
    background-color: var(--color-prymary);
}

.hiro-title {
    color: var(--color-non);
}

.button-ven {
    color: var(--color-non);
    background-color: var(--color-von);
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size:0,04em;
}

.button-ven:hover,
.button-ven:focus {
    color: var(--color-non);
    background-color: var(--color-stile);
    font-family: 'Roboto', sans-serif;
    font-size:0,04em;
}

/*advantages-section*/

.advantages-section {
    color: var(--color-prymary);
    font-size:0,02em;
}

.p-non {
    color: var(--color-prymary);
    font-size:0,02em;
}

/*ourteam-section*/

.ourteam-section {
    color: var(--color-secondary);
}

.h2-ourteam,
.h3-mark,
.h3-tom,
.h3-camila,
.h3-daniel{
    color: var(--color-prymary);
}

.p-par {
    color: var(--color-set);

}

/*our-porfolio*/

.h2-portfolio {
    color: var(--color-prymary);
}

.image-portfolio {
    background-color:var(--color-non);
    border: var(--color-imag);
}

.h3-banking,
.h3-payment,
.h3-meditation,
.h3-taxi, 
.h3-screen, 
.h3-course  {
    color: var(--color-prymary);
}

.p-ourparagraf {
    color: var(--color-set);
}

/*footer*/

.footer {
    background-color:var(--color-prymary);
}

.logo-button {
    color: var(--color-secondary);
    font-family: 'Raleway', sans-serif;
    font-size:0,03em;
}

.paragraf-futer {
    color: var(--color-secondary);
}
